
.logoimg img{
    width: 50px;
    
}
.logoimg{
    width: 500px;
    display: flex;
    align-items: center;
}
.logo-txt{
    font-weight: bold;
    font-size: 20px;
}
#foot{
    height: 50px;
    width: 50px;
}