*{
    box-sizing: border-box;
    text-decoration: none;
    /* margin: 0 !important; */
}


/* .container{
    width: 100%;
} */
html,body{
    height: 100%;
}
html body{
    height: 100%;
    background-color: white;
}
li{
    list-style-type: none !important;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*--------------------Reusable Variables--------------------*/
:root {
    /*--------------------Light Theme Variables (Default)--------------------*/
    --light-theme-background-color: #eee;
    --light-theme-darker-background-color:#ccc;
    --light-theme-text-color: #333;
    --light-theme-link-color: #ff6347;
    --light-theme-link-hover-color: #fa2600;

    /*--------------------Dark Theme Variables--------------------*/ 
    --dark-theme-background-color: hsl(230, 17%, 14%);
    --dark-theme-darker-background-color: hsl(228, 28%, 20%);
    --dark-theme-text-color: #eee;
    --dark-theme-link-color: #00fa9a;
    --dark-theme-link-hover-color: #00955b; 

    /*--------------------Other Variables--------------------*/ 
    --link-hover-timing: all 0.25s ease-in-out;
    --theme-change-timing: all 1s ease-in-out;
}
/*--------------------Light Theme Styles (Default)--------------------*/
.light {
    background: var(--light-theme-background-color);
    color: var(--light-theme-text-color);
    transition: var(--theme-change-timing);
}



/*--------------------Dark Theme Styles--------------------*/
.dark {
    background: var(--dark-theme-background-color);
    color: var(--dark-theme-text-color);
    transition: var(--theme-change-timing);
}

.flex-light {
    background: var(--light-theme-darker-background-color);
}
.flex-dark {
    background: var(--dark-theme-darker-background-color);
}
.footer-dark {
    background: var(--dark-theme-darker-background-color);
}
.footer-light {
    background: var(--light-theme-darker-background-color);
}
.icons{
	text-align: center;
	display: flex;
	align-items: center;
	margin: 0;
	justify-content: center;
	padding-top: 10px;

}
.btn-dark {
    background: var(--dark-theme-link-color);
    color: var(--dark-theme-background-color);
}
.label{
    background-color: #111;
    display: flex;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    justify-content: space-between;
    padding: 5px;
    
}
.fa-moon{

    color: #f1c40f;
    
}
.fa-sun{
    color: #f1c40f;
    
}
.ball{
    width: 20px;
    height: 20px;
    top: 2px;
    bottom: 2px;
    color: #fff;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    transition: transform 0.2s linear;
}
.checkbox{
    opacity: 0%;
    position: absolute;
}
.checkbox:checked + .label .ball{
    transform: translateX(24px);
}

.hl{
    float: left;
}
.icons{
    float: right;
}

.icons{
    /* position: fixed; */
    /* width: 120%; */
    float: right !important;
    /* padding-left: 100px; */
}
.navbar{
    box-shadow: none !important;
}
.register{
    width: 40%;
}
.register form{
    display: flex;
}
.register>form input{
    border-radius: 20px;
    /* padding-top: 20px; */
    height: 50px;
    width: 300px;
    border: 2px solid #00955b;
    padding: 10px;

}
.register button{
    border: none;
    background-color: #00955b;
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    margin-left: 20px;
}

.intro{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.intro-left{
    width: 60%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
}
.intro-right{
    height: 40vh;
    width: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/intro.png);
}

.intro-title{
    margin-top: 100px;
}




/* app */
.app{
    width: 100%;
    height: 90vh;
    background-color: #0ead98;
    display: flex;
    justify-content: space-between;
}
.app-left{
    width: 60vw;
    height: 90vh;
    margin: auto;
}
.app-left{
    color: white;
    padding: 20px;
}
.app-footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.app-right{
    width: 30vw !important;
    display: flex;
    align-items: center;
    height: 90vh;
    padding: 20px;
}

/* .carousel-item img{
    transform: scale(0.8);
} */

/* app */